@model IEnumerable<MUSM_api_MVCwebapp.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <p>
        SearchBox: @Html.TextBox("SearchString")
    </p>

    <p>
        Filter By Completion Status: @Html.ListBox("SelectedStatuses")

        Filter By Category: @Html.ListBox("SelectedCategories")

        Filter By Priority: @Html.ListBox("SelectedPriority")
    </p>
        
    <p>
        Show Deleted: @Html.CheckBox("showDeleted")
        Sort By Oldest: @Html.CheckBox("ascending")
    </p>

    <p>
        <input type="submit" value="Search" />
        <button>
            @Html.ActionLink("Clear Filter", "Index")
        </button>
    </p>

}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <!--<th>
                @Html.DisplayNameFor(model => model.DateCompleted)
            </th>-->
            <th>
                @Html.DisplayNameFor(model => model.Worker)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <!--<td>
                @Html.DisplayFor(modelItem => item.DateCompleted)
            </td>-->
            <td>
                @Html.DisplayFor(modelItem => item.Worker.FullName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="AssignToWorker" asp-route-id="@item.Id">Assign to a Worker</a>

                    @if (item.Deleted == true)
                    {
                        <a asp-action="UndoDelete" asp-route-id="@item.Id">Undo Delete</a>
                    }
                    else
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }


            </td>
        </tr>
}
    </tbody>
</table>
