@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims;

@inject IAuthorizationService AuthorizationService

@model IEnumerable<MUSM_api_MVCwebapp.Models.TaskModel>

@{
    ViewData["Title"] = "Tasks List";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/AllTasks.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h1 style="color: lightseagreen">Tasks List  &nbsp<a asp-action="Create" style="border-radius:50%" class="btn btn-outline-warning"><i class="fa fa-plus"></i></a></h1>



@using (Html.BeginForm())
{
    <p>
        @*<form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>*@
        @Html.TextBox("SearchString")<i class="fa fa-search btn btn-light"></i> &nbsp &nbsp

        <i class="fa fa-filter"></i> By Category: @Html.ListBox("SelectedCategories") &nbsp

        <i class="fa fa-filter"></i> By Priority: @Html.ListBox("SelectedPriority")
    </p>

    <p>
        @Html.CheckBox("showDeleted") Show Deleted
    </p>
    <p>
        @Html.CheckBox("ascending") Sort By Oldest
    </p>
    <p>
        @Html.CheckBox("dueDate") Sort By DueDate
    </p>
        

    

    @if ((await AuthorizationService.AuthorizeAsync(User, "RequireWorkerRole")).Succeeded)
    {
        <p>
            @Html.CheckBox("showOnlyMyTasks") Show Only My Tasks

        </p>
    }

    <p>

        <form>
            <button class="btn btn-warning" type="submit" value="Search"><i class="fa fa-search"></i> Search</button>

            <button class="btn btn-outline-secondary" style="text-decoration:none">
                @Html.ActionLink("Clear Filter", "Index")
            </button>
        </form>


    </p>
}
<table class="table">

    <div style="display: flex;">
        
        @foreach (var status in ViewBag.ComplitionStatuses)
        {
            var nospace = status;
            if (status.Equals("In Progress")){
                nospace = "InProgress";
            }else if(status.Equals("On Hold"))
            {
                nospace = "OnHold";
            }

            <div class="column-17">
                <div class="status-box status-@nospace-color">
                    <div class="status-name">@status</div>
                    <img class="file-dock-icon1" src="~/public/@nospace-icon.svg" />
                </div>

                @foreach (var item in Model)
                {
                    @if (item.CompletionStatus.Equals(status))
                    {
                        <div class="task18">
                            <div class="task-details-parent16">
                                <div class="task-details19">
                                    <b class="broken-door-handle29">@item.Title</b>
                                    <div class="location-due-date18">
                                        <div class="room-b-10128">@item.Location</div>
                                        <b class="b18">•</b>
                                        <div class="room-b-10128">@item.DueDate</div>
                                    </div>
                                    <div class="something-seems-to28">
                                        @item.Description
                                    </div>
                                </div>
                                <div class="icons31">
                                    <div class="carpentry66">
                                        <img class="carpentry-child39" alt="" src="~/public/ellipse-484.svg" />
                                        <img class="image-2-icon42" alt="" src="~/public/@item.Category-icon.png" />

                                    </div>
                                    <img class="carpentry66" alt="" src="~/public/@item.Priority-priority.svg" />
                                </div>
                            </div>
                            <div class="buttons25">

                                <div class="details49">
                                    <a class="edit13 buttonInCard" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                </div>
                                @if (User.FindFirst(ClaimTypes.NameIdentifier).Value.Equals(item.WorkerId) ||
                                (await AuthorizationService.AuthorizeAsync(User, "RequireManagerRole")).Succeeded)
                                {
                                    <div class="edit12">
                                        <a class="edit13 buttonInCard" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    </div>
                                }
                               
                                @if ((await AuthorizationService.AuthorizeAsync(User, "RequireManagerRole")).Succeeded)
                                {
                                    @if (item.CompletionStatus.Equals("Open"))
                                    {
                                        <div class="assign8" id="assignContainer">
                                            <a asp-action="AssignToWorker" asp-route-taskId="@item.Id">Assign a Worker</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="assign8" id="assignContainer">
                                            <a asp-action="AssignToWorker" asp-route-taskId="@item.Id">Delegate</a>
                                        </div>
                                    }

                                    <div class="edit12">
                                        @if (item.Deleted == true)
                                        {
                                            <a asp-action="UndoDelete" asp-route-id="@item.Id">Undo Delete</a>
                                        }
                                        else
                                        {
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        }
                                    </div>
                                }

                            </div>
                        </div>
                    }

                }

            </div>
        }

    </div>
</table>
