@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService

@model IEnumerable<MUSM_api_MVCwebapp.Models.RequestModel>

@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/requests.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h1 style="color: lightseagreen">Requests List</h1>
<br />

@using (Html.BeginForm())
{
    <p>
        <i class="fa fa-search"></i> @Html.TextBox("SearchString") &nbsp

        <i class="fa fa-filter"></i> By Approval Status: @Html.DropDownList("SelectedStatuses")

       
    </p>

    <p>
        @Html.CheckBox("showDeleted") Show Delete
       
    </p>
    <p>
        @Html.CheckBox("ascending") Sort By Oldest
    </p>

    <p>

        <form>
            <button class="btn btn-warning" type="submit" value="Search"><i class="fa fa-search"></i> Search</button>

            <button class="btn btn-outline-secondary" style="text-decoration:none">
                @Html.ActionLink("Clear Filter", "Index")
            </button>
        </form>
       

    </p>

}
<table class="table">

    <div style="display: flex;">
        @foreach (var category in ViewBag.SelectedCategories)
        {
            <div class="column-17">
                <div class="category-box category-@category-color">
                    <div class="category-name">@category</div>
                    <img class="file-dock-icon1" src="~/public/@category-icon.png" />
                    
                </div>

                @foreach (var item in Model)
                {
                    @if (item.Category.Equals(category))
                    {
                        <div class="task18">
                            <div class="task-details-parent16">
                                <div class="task-details19">
                                    <b class="broken-door-handle29">@item.Title</b>
                                    <div class="location-due-date18">
                                        <div class="room-b-10128">@item.Location</div>
                                        <b class="b18">•</b>
                                        votes: @item.VotesCount
                                    </div>
                                    <div class="something-seems-to28">
                                        @item.Description
                                    </div>
                                 
                                </div>
                                
                            </div>
                            <div class="buttons25">

                              
                                @if (item.ApprovalStatus.Equals("Under Evaluation"))
                                {
                                    <div class="assign8" id="assignContainer">
                                        <a form asp-action="Approve" asp-route-id="@item.Id">Approve</a>
                                    </div>
                                    <div class="assign8" id="assignContainer">
                                    <a form asp-action="Reject" asp-route-id="@item.Id">Reject</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="edit12">
                                    <a asp-action="UndoEvaluation" asp-route-id="@item.Id">Undo Evaluation</a>
                                    </div>
                                }

                                 <div class="details49">
                                    <a class="edit13 buttonInCard" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                 </div>

                                <div class="edit12">
                                        @if (item.Deleted == true)
                                        {
                                            <a asp-action="UndoDelete" asp-route-id="@item.Id">Undo Delete</a>
                                        }
                                        else
                                        {
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        }
                                    </div>
                                }

                            </div>
                        </div>
                    }

                }

            </div>
        }

    </div>
</table>


























@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApprovalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicUser.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
             </th>
            <th>
                @Html.DisplayNameFor(model => model.Deleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <img src=@item.Photo width="70" height="90" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicUser.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>

                   @if (item.ApprovalStatus.Equals("Under Evaluation"))
                   {

                        <form asp-action="Approve" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form>

                        @*<form asp-controller="Index" asp-action="Reject" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-success">Reject</button>
                           </form>*@

@*  <a asp-action="Reject" asp-route-id="@item.Id">Reject</a>

                   }
                   else
                   {
                        <a asp-action="UndoEvaluation" asp-route-id="@item.Id">Undo Evaluation</a>
                   }

                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (item.Deleted == true)
                    {
                        <a asp-action="UndoDelete" asp-route-id="@item.Id">Undo Delete</a>
                    }
                    else
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }


            </td>
        </tr>
}
    </tbody>
</table>
*@



